<a href="https://colab.research.google.com/github/nileshmalode11/new/blob/main/Python_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Python program to demonstrate list comprehension in Python

# below list contains square of all odd numbers from
# range 1 to 10
odd_squre = [x**2 for x in range(1,11) if x%2 ==1]
print(odd_squre)

y = []
for x in range(1,11):
  if x%2==1:
    y.append(x**2)
print(y)

[1, 9, 25, 49, 81]
[1, 9, 25, 49, 81]

In [4]:
# below list contains power of 2 from 1 to 8
power_of_2 = [2 ** x for x in range(1, 9)]
print (power_of_2)
#range 1 to 10
lst=[x**2 if x%2==1 else x*2 for x in range(1,11)]
print(lst)

#for understanding ,above "lst" is same as below "lst1"
lst1=[]
for x in range(1,11):
  if x%2==1:
      lst1.append(x**2)
  else:
    lst1.append(x*2)
print(lst1)

[2, 4, 8, 16, 32, 64, 128, 256]
[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]
[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [6]:
multi_2= [2 ** x for x in range(1,11)]
print(multi_2)

lst = [x**2 if x%2==1 else x*2 for x in range(1,11)]
print(lst)

list1 = []
for x in range(1,11):
  if x%2==1:
    list1.append(x**2)
  else:
    list1.append(x*2)
print(list1)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]
[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [8]:
# below list contains prime and non-prime in range 1 to 50
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
print(noprimes)
primes = [x for x in range(2, 50) if x not in noprimes]
print (primes)

# list for lowering the characters
print ([x.lower() for x in ["A","B","C"]] )

# list which extracts number
string = "my phone number is : 11122 !!"

print("\nExtracted digits")
numbers = [x for x in string if x.isdigit()]
print (numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 14, 21, 28, 35, 42, 49]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
['a', 'b', 'c']

Extracted digits
['1', '1', '1', '2', '2']

In [9]:
nonprime = [j for i in range(2,8) for j in range(i*2, 50, i)]
prime = [ x for x in range(2,50) if x not in nonprime]
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
#converting the upper case into lower case
print([x.lower() for x in["A","D","Y"]])

['a', 'd', 'y']

In [16]:
# list which extracts number
string = "my phone number is : 11122 !!"

print("Extracted digits")
numbers = [x for x in string if x.isdigit()]
print (numbers)

Extracted digits
['1', '1', '1', '2', '2']

In [18]:
# A list of list for multiplication table
a = 5
table = [[a, b, a * b] for b in range(1, 11)]
print(table)

print("\nMultiplication Table")
for i in table:
    print (i)

[[5, 1, 5], [5, 2, 10], [5, 3, 15], [5, 4, 20], [5, 5, 25], [5, 6, 30], [5, 7, 35], [5, 8, 40], [5, 9, 45], [5, 10, 50]]

Multiplication Table
[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]

In [24]:
lst = list(range(1,11))
print(lst)

x = lst[4:9:2]
print(x)

y= lst[1::1]
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 7, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10]