<a href="https://colab.research.google.com/github/nileshmalode11/new/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''Python Default Arguments: Function arguments can have default values in Python.
We provide a default value to an argument by using the assignment operator (=).'''

def xyz(name,age='25'):
  print("the name of student ",name , age)
xyz('sagar')

the name of student  sagar 25

In [ ]:
#Python program to interchange first and last elements in a list

def swap_num(list1):
  list1[0],list1[-1]=list1[-1],list1[0],
  return list1

list1=[12,23,23,34,45,87]
swap_num(list1)

[87, 23, 23, 34, 45, 12]

In [ ]:
#Check if element exists in list in Python
l1=[12,34,567,34,32,34,12,456,9]
x= int(input())

if x in l1:
   print("exits")
else:
   print('not exits')

12
exits

In [ ]:
#Different ways to clear a list in Python
lis=['patil',12,2.345,'prasad']
print(lis)

#clear list by using clear()
lis.clear()

#list after clear()
print(lis)


list2=[94,67,99,23,84]
# Printing list2 before deleting
print(str(list2))
 
# deleting list using reinitialization
list2 = []

#after reinitialization
print(list2)

['patil', 12, 2.345, 'prasad']
[]
[94, 67, 99, 23, 84]
[]

In [ ]:
#Reversing a List in Python
def reverse_list(list1):
  left = 0
  right = len(list1)-1
  print(list1)
  while left < right:
    temp = list1[left]
    list1[left] = list1[right]
    list1[right] = temp
    left +=1
    right -=1
  print(list1)  
list1=[90,87,84,81,78,75,72,69]
reverse_list(list1)


#reverse list by using reverse()
list1.reverse()

print(list1)

[90, 87, 84, 81, 78, 75, 72, 69]
[69, 72, 75, 78, 81, 84, 87, 90]
[90, 87, 84, 81, 78, 75, 72, 69]

In [ ]:
#Multiply all numbers in the list 

lis1 = [1,23,43,23,22,12]
result=1
for i in lis1:
  result =result*i
print(result) 

#by importring math module
import math
result = math.prod(lis1)
print(result)

6005208
6005208

In [1]:
'''Write a Python program to calculate the difference between a given number and 17.
If the number is greater than 17, return twice the absolute difference.'''
def differance(n):
  if n <= 17:
    return (n-17)
  else:
    return(n-17)*2
print(differance(23)) 
print(differance(12))

12
-5

In [2]:
#Write a Python program to test whether a number is within 100 of 1000 or 2000

def near_thousand(n):
  return((abs(1000-n)<=100) or abs(2000-n)<=100)

print(near_thousand(1000))
print(near_thousand(1800))

True
False

In [3]:
#Write a Python program to calculate the sum of three given numbers. If the values are equal, return three times their sum.

def sum_thrice(x,y,z):

  if x==y==z:
    sum=(x+y+z)*x
  else:
    sum= x+y+z
  return sum    
print(sum_thrice(1,2,3))
print(sum_thrice(3,3,3))

6
27

In [7]:
'''Write a Python program to get a newly-generated string from a given string where "Is" has been added to the front. 
Return the string unchanged if the given string already begins with "Is"'''
def new_string(text):
  if len(text) >= 2 and text[0:2] == 'is':
    return text
  else:
    return 'is '+ text
print(new_string("is mango"))
print(new_string('mango'))

is mango
is mango

In [15]:
#Write a Python program that returns a string that is n (non-negative integer) copies of a given string

def increse_string(text,n):
  result = ""
  for i in range(n):
    result += text
  return result 
print(increse_string('nilesh',5))

nileshnileshnileshnileshnilesh

In [17]:
n=int(input('enter a number'))
if n%2==0:
  print(f"{n} is even number")
else:
  print(f"{n} is a odd number")

enter a number5
5 is a odd number

In [19]:
#Write a Python program to count the number 4 in a given list
def num_count(num,n):
  count = 0
  for num in num:
    if num==n:
      count+=1
  return f"the {n} present in list {count} times"
print(num_count([1,2,4,5,2,3,3,2,3],3))

the 3 present in list 3 times