<a href="https://colab.research.google.com/github/nileshmalode11/new/blob/main/python_learning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#sequence datatype
###list (mutable)

In [ ]:
#create a list
list1=[89,"nilesh",89.9,89,1]
print(type(list1))

#reverse the list by slicing
print(list1[::-1])

#add element in list by using append function
list1.append("machine learning")
print(list1)

#remove element from list by using remove functin
list1.remove(89)
print(list1)

#revers the list by using reverse function
list1.reverse()
print(list1)

###tuple (immutable)

In [ ]:
#ceate a tuple
tup=("Data science",9.8,87,)
print(type(tup))
print(tup)

#slicing in tuple
print(tup[1:3:2])
#reverse the tuple
print(tup[::-1])

###range (immutable)

In [ ]:
#create a rage
r=range(2,101,2)
print(type(r))
for i in r:
  print(i)
print(r)

###set (Mutable)

In [ ]:
#create a set
set1={"apple",87,0.2,"deep learning"}
print(type(set1))
print(set1)

#add element in set
set1.add(23)
print(set1)

#remove element from set
set1.remove("apple")
print(set1)

###frozenset (immutable)

In [ ]:
#craete a frozenset
num={"coding",1,1.3,98}
num1=frozenset(num)
print(type(num))
print(type(num1))

<class 'set'>
<class 'frozenset'>